BÀI TẬP VỀ NHÀ SỐ 7

Tên: Nguyễn Thị Huyền Trang

MSSV: 21520488

In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("/content/drive/MyDrive/DS103/BTVN7/train.csv")
data

<ipython-input-6-fe7a08ac38a4>:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/drive/MyDrive/DS103/BTVN7/train.csv")

,id,label,province,district,age_source1,age_source2,maCv,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,FIELD_16,FIELD_17,FIELD_18,FIELD_19,FIELD_20,FIELD_21,FIELD_22,FIELD_23,FIELD_24,FIELD_25,FIELD_26,FIELD_27,FIELD_28,FIELD_29,FIELD_30,FIELD_31,FIELD_32,FIELD_33,FIELD_34,FIELD_35,FIELD_36,FIELD_37,FIELD_38,FIELD_39,FIELD_40,FIELD_41,FIELD_42,FIELD_43,FIELD_44,FIELD_45,FIELD_46,FIELD_47,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,0,0,NaN,NaN,NaN,NaN,NaN,1,1.0,2547.0,0.0,0.0,0.0,[],NaN,na,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,44.0,44.0,None,1,0.0,-1.0,1.0,1.0,1.0,"['GD', 'GD', 'TE']",MALE,GD,T1,12,None,BI,0,0,2.0,G8,True,True,True,1.0,4.0,True,None,False,False,True,True,None,None,None,0,1,0,Zero,FALSE,True,False,VN,None,V,Zezo,None,One,1,0,False,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,Tỉnh Đồng Nai,Huyện Long Thành,30.0,30.0,Công nhân,0,1.0,3273.0,1.0,4.0,0.0,"['DN', 'HN', 'DN']",FEMALE,DN,T1,12,0,YN,0,0,1.0,None,False,False,False,1.0,54.0,True,None,True,True,True,True,FALSE,FALSE,FALSE,0,1,1,Zero,FALSE,True,False,None,None,I,Zezo,None,Two,2,1,True,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,Tỉnh Tuyên Quang,Thành phố Tuyên Quang,43.0,NaN,NaN,0,1.0,3991.0,1.0,1.0,0.0,"['CH', 'TQ']",NaN,na,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,Thành phố Hồ Chí Minh,Quận 1,21.0,21.0,None,0,1.0,1450.0,0.0,2.0,0.0,"['SV', 'GD']",MALE,GD,T1,12,None,BI,0,0,1.0,G8,True,True,True,1.0,24.0,True,None,False,False,True,True,None,None,None,0,1,0,Zero,FALSE,True,False,None,None,V,Zezo,None,One,1,1,True,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29995,0,Tỉnh Quảng Bình,Huyện Quảng Ninh,28.0,28.0,None,0,1.0,720.0,2.0,6.0,0.0,"['HT', 'KC', 'TE', 'DN', 'XK', 'HS', 'DN', 'GD']",FEMALE,DN,T1,0,0,TD,0,0,1.0,None,True,False,False,1.0,36.0,True,None,True,False,True,True,FALSE,TRUE,FALSE,0,0,0,Four,FALSE,TRUE,False,VN,None,I,Zezo,None,One,1.0,0,True,True,True,29.77,33.503,30.955,31.171,0.0,0.11,0.0,0.0
29996,29996,0,Tỉnh Đồng Nai,Huyện Cẩm Mỹ,34.0,34.0,Nhân viên,0,1.0,3627.0,0.0,8.0,2.0,"['HS', 'DN', 'DN', 'GD', 'GD', 'DN', 'DN', 'DN...",MALE,DN,GH,6,0,TI,0,0,1.0,None,False,False,False,1.0,104.0,True,None,True,True,True,True,FALSE,FALSE,FALSE,0,1,0,Four,FALSE,TRUE,False,None,None,I,Zezo,None,One,1.0,1,True,True,True,29.77,41.194,30.955,31.171,0.0,0.13,0.0,0.0
29997,29997,0,Tỉnh Gia Lai,Huyện Krông Pa,29.0,NaN,NaN,1,1.0,3651.0,2.0,1.0,0.0,"['HS', 'TE']",NaN,na,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29998,29998,0,Thành phố Hà Nội,Huyện Ba Vì,39.0,39.0,None,1,0.0,-1.0,2.0,2.0,0.0,"['CN', 'CN', 'CN', 'CN']",FEMALE,CN,T1,12,0,AI,0,0,1.0,None,True,False,False,1.0,24.0,True,None,True,False,True,True,FALSE,FALSE,FALSE,0,0,0,Zero,FALSE,TRUE,False,VN,None,IV,Zezo,None,One,1.0,1,False,False,True,29.77,21.478,30.955,31.171,0.0,0.05,0.0,0.0
29999,29999,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,25.0,NaN,NaN,1,1.0,364.0,0.0,3.0,1.0,"['DN', 'GD']",NaN,na,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Số điểm dữ liệu quan sát (dòng) của bộ dữ liệu:

In [ ]:
len(data)

30000

Số thuộc tính (cột) của bộ dữ liệu:

In [7]:
len(data.columns)

64

Số ô có giá trị null trong bộ data

In [10]:
print("num_of_null: ", data.isnull().sum().sum())

num_of_null:  447755